/Parser.class
/TwoDimensionalArray.class
/TwoDimensionalArray2.class
/DEATable.class
/PotenzmengenKonstruktion.class
/DEATabelle.class
/ZustandsUebergangsTabelle.class
/Automat.class
/AutomatFERTIG.class
/PotenzmengenKonstruktionFERTIG.class
