/Config.class
/Dreieck.class
/FormenTest$BewegungsThread.class
/FormenTest.class
/GrafikObjekt.class
/Kreis.class
/Leinwand$1.class
/Leinwand$ShapeMitFarbe.class
/Leinwand$Zeichenflaeche.class
/Leinwand$ZeichneThread.class
/Leinwand.class
/Linie.class
/NamedEllipse2D.class
/NamedRectangle.class
/NamedShape.class
/Position.class
/Quadrat.class
/Rechteck.class
