/ArrayTest.class
/BinarySearchTreeTest.class
/BinaryTreeStrukturbaumTest.class
/BinaryTreeTest.class
/DatenbankFahndungsliste.class
/DatenbankTest.class
/DijkstraTest.class
/GraphTest.class
/GraphTestMatrix.class
/ListTest.class
/PriorityQueueTest.class
/QueueTest.class
/QuicksortTest.class
/RSA_Test.class
/RingTest.class
/StackTest.class
/VererbungsTest.class
/GraphTest_Matrix.class
